<%- include('./common/dashboardHeader', {title: 'Reset Password'}); -%>

<div class="container col-sm-8 col-md-6 col-lg-5 col-xl-4 vertical-gap">

    <div class="loginBox">
        <h1><span class="fa fa-sign-in"></span>Reset Password</h1>
    </div>
    <div id="alert-error" class="alert alert-danger alert-dismissible hide" role="alert">
        <h5 id="alert-error-text"></h5>
        <button type="button" class="close" aria-label="Close" onclick="hideErrorAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id="alert" class="alert alert-success alert-dismissible hide" role="alert">
        <h5 id="alert-text"></h5>
        <button type="button" class="close" aria-label="Close" onclick="hideAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="box">
        <form id="resetPasswordForm" action="/api/reset-password-link" method="post">
            <div class="form-group">
                <br/>
                <label class="signuplabel" for="username" id="username" value=<%= username %>>User <%= username %>: please type in your new password </label>
                <label class="signuplabel" for="newPassword">New Password: </label>
                <input type="password" id="newPassword" name="newPassword" class="form-control singupinput">
                <label class="signuplabel" for="confirmPassword">Confirm Password: </label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control singupinput">
                <br/>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <br/>
            <hr/>
        </form>
    </div>
    <!--Message Modal-->
    <%- include('./common/messageModal'); -%>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/moh.js/ForgetPasswordLink.js"></script>

<%- include('./common/dashboardFooter'); -%>