<%- include('./common/header', {title: 'Fill Form'}); -%>

<div class="container col-sm-12 col-md-12 col-lg-11 col-xl-10 vertical-gap">
    <a href="profile" class="btn btn-default"><h4><span class="fa fa-reply"></span> Profile</h4></a>
    <h2 class="text-center"> <%= title[0].Title %> </h2>

    <iframe id="txtArea1" style="display:none"></iframe>

    <form method="POST" id="form">
        <table class="table table-bordered table-responsive col-md-10" id="table" style="border: none;">
            <tr>
                <th type="text" contenteditable="false">Attribute\Category</th>
                <% for (var i = 0; i < category.length; i++) { %>
                    <th><p id="<%= "0" + String(i + 1) %>"><%= category[i][0].Description %></p></th>
                <% } %>
            </tr>
            <br>
            <% for (var i = 0; i < attribute.length; i++) { %>
                <tr>
                    <th><p id="<%= String(i + 1) + "0" %>"> <%= attribute[i][0].Description %></p></th>
                    <% for(var j = 0; j < category.length; j++ ) { %>
                        <td contenteditable="true"><p name="<%= String(i + 1) + String(j + 1) %>"
                                                      id="<%= String(i + 1) + String(j + 1) %>"></p></td>
                    <% } %>
                </tr>
            <% } %>
        </table>
        <input class="btn btn-outline-primary" id="submit" type="submit" value="Submit">
        <button class="btn btn-outline-primary" type="button" id="export-btn"> Export</button>
    </form>

    <hr>

    Upload an excel file: <input class="btn btn-outline-primary" type="file" id="input-excel"/>
    <br>
    <p>Please make sure you select the right excel file and make sure you name your excel sheet
        "<%= title[0].Title %>"</p>
    <table id="newTable" class="table table-bordered">
        <tr class="hide"></tr>
    </table>
    <p class="hide" id="message1" style="color: red"> Sorry, but the size of the excel file you uploaded does
        not match the
        size of the table above </p>
    <button class="btn btn-outline-info hide" id="editTable" style="margin-top: 3%">Click here to transfer the
        table into the form
    </button>

</div>

<div class="modal fade" id="import-modal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModalLabel">Import Table</h5>
            </div>
            <div class="scroll-x modal-body" id="import-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancelSaveToForm" data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" id="saveToForm">Save changes to form</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/xlsx/dist/xlsx.core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.0.2/js/tableexport.min.js"></script>


<script>
    // author: Lester Lyu
    // Table Export instance
    var instance = $("#table").tableExport({
        formats: ['xlsx'],
        exportButtons: false,
        filename: '<%= title[0].Title %>',
    });
    var exportData = instance.getExportData()['table']['xlsx'];

    $('#export-btn').click(function () {
        instance.export2file(exportData.data, exportData.mimeType, exportData.filename, exportData.fileExtension);
    });

    // initialize modal
    $('#import-modal').modal({
        keyboard: false,
        show: false,
        backdrop: 'static',
    });

    $('#cancelSaveToForm').click(function () {
        $('#input-excel').val('');
    });

    $('#input-excel').change(function (e) {
        console.log('change');
        var reader = new FileReader();
        reader.readAsArrayBuffer(e.target.files[0]);
        reader.onload = function (e) {
            var data = new Uint8Array(reader.result);
            var wb = XLSX.read(data, {type: 'array'});
            var htmlstr = XLSX.write(wb, {sheet: "<%= title[0].Title %>", type: 'binary', bookType: 'html'});
            console.log(htmlstr);
            var readTable = $($(htmlstr)[2]);
            readTable.addClass('table table-bordered');
            console.log(readTable);
            $('#import-body').html(readTable);
            $('#import-modal').modal('show');
        };
    });



</script>

<script>
    var $TABLE = $('#newTable');
    $('#input-excel2').change(function (e) {
        var reader = new FileReader();
        reader.readAsArrayBuffer(e.target.files[0]);
        reader.onload = function (e) {
            var data = new Uint8Array(reader.result);
            var wb = XLSX.read(data, {type: 'array'});
            var htmlstr = XLSX.write(wb, {sheet: "<%= title[0].Title %>", type: 'binary', bookType: 'html'});

            htmlstr = htmlstr.replace(/<table>/, '<table id = "oldTableb" class = "table">');
            console.log(htmlstr);
            $('#wrapper')[0].innerHTML += htmlstr;
            $('#editTable').removeClass('hide');
            var table = document.getElementById('oldTableb');
            var td = table.getElementsByTagName('td');
            var maxWidth = 0;
            for (var i = 0; i < td.length; i++) {
                if (td[i].offsetWidth > maxWidth) {
                    maxWidth = td[i].offsetWidth;
                }
            }
            for (var i = 0; i < td.length; i++) {
                console.log(maxWidth);
                td[i].setAttribute('style', 'width:' + maxWidth + "px");
            }
        }
    });
    $('#editTable').click(function () {
        var currentLetter = 'B';
        var currentNumber = 1;
        //check to see if user submitted right-sized excel table/sheet
        var match = true;
        if ((document.getElementById('oldTableb').rows[0].cells.length == document.getElementById('myTable').rows[0].cells.length) && (document.getElementById('oldTable').rows.length == document.getElementById('myTable').rows.length)) {
            // the size of the table matches, now we check the actual contents
            for (var i = 0; i < document.getElementById('oldTableb').rows[0].cells.length - 1; i++) {
                //check if categories match or not
                if (document.getElementById("0" + String(i + 1)).value == document.getElementById("sjs-" + currentLetter + String(1)).innerHTML) {
                    console.log("matched!");
                    currentLetter = String.fromCharCode(currentLetter.charCodeAt(0) + 1);
                }
                else {
                    document.getElementById('alert').innerHTML += "<p style = 'color: red'> Tables do not match at: <b> " + document.getElementById("0" + String(i + 1)).value + " </b>&nbsp;to<b> " + document.getElementById("sjs-" + currentLetter + String(1)).innerHTML + " </b> </p>";
                    document.getElementById('alert').classList.remove("hide");
                    match = false;
                    currentLetter = String.fromCharCode(currentLetter.charCodeAt(0) + 1);
                }
            }
            for (var j = 0; j < document.getElementById('oldTableb').rows.length - 1; j++) {
                currentLetter = "A";
                if (document.getElementById(String(j + 1) + "0").value == document.getElementById("sjs-" + currentLetter + String(j + 2)).innerHTML) {
                    console.log("matched!!!")
                }
                else {
                    document.getElementById('alert').innerHTML += "<p style = 'color: red'>Error: Tables do not match at: <b> " + document.getElementById(String(j + 1) + "0").value + "</b>&nbsp;to<b> " + document.getElementById("sjs-" + currentLetter + String(j + 2)).innerHTML + "</b> </p>"
                    document.getElementById('alert').classList.remove("hide");
                    match = false;
                }
            }
        }
        //size of tables don't match
        else {
            $('#message1').removeClass('hide');
        }
        if (match == true) {
            console.log(document.getElementById('myTable').rows.length)
            //bottom form starts at b2 top form starts at 11
            for (var i = 1; i < document.getElementById('myTable').rows.length; i++) {
                currentLetter = "B";
                for (var j = 1; j < document.getElementById('myTable').rows[0].cells.length; j++) {
                    console.log("sjs-" + currentLetter + String(j + 1).innerHTML);
                    console.log(document.getElementById('myTable').rows.length);
                    console.log(document.getElementById(String(i) + String(j)).innerHTML);
                    document.getElementById(String(i) + String(j)).value = document.getElementById("sjs-" + currentLetter + String(i + 1)).innerHTML;
                    currentLetter = String.fromCharCode(currentLetter.charCodeAt(0) + 1);
                }

            }
        }
    });

</script>