<%- include('./common/header', {title: 'Profile', user: user}); -%>

<div class="container col-sm-10 col-md-9 col-lg-8 col-xl-6 vertical-gap">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1><br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><span class="fa fa-user"></span> User Information</h4>
            Group: <%= user.groupNumber %> <br> Username: <%= user.username %> <br> Email: <%= user.email %>

            <hr>

            <h4 class="card-title"><span class="far fa-edit"></span> Empty workbook you can fill out</h4>

            <div id="workbooks">

            </div>

            <hr>

            <h4 class="card-title"><span class="fas fa-edit"></span> View/Edit Filled Forms</h4>

            <div id="filled-workbooks">

            </div>
            <hr>

            <h4 class="card-title"><span class="fas fa-user-edit"></span> Workbook Admin</h4>

            <a class="btn btn-outline-success admin-btn" href="/create-table">Create Table</a>

            <hr>

            <h4 class="card-title"><span class="fas fa-user-edit"></span> System Admin</h4>

            <a class="btn btn-outline-success admin-btn" href="/add-att-cat">Create Attributes/Categories</a>


        </div>
    </div>
    <%- include('./common/messageModal'); -%>

</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/js/profile.js"></script>

<%- include('./common/footer'); -%>