<%- include('./common/header', {title: 'Profile', user: user}); -%>

<div class="container col-sm-10 col-md-9 col-lg-8 col-xl-6 vertical-gap">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1><br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><span class="fa fa-user"></span> User Information</h4>
            ID: <%= user.ID %> <br> Username: <%= user.userName %> <br> Email: <%= user.email %>

            <hr>

            <h4 class="card-title"><span class="far fa-edit"></span> Empty forms you can fill out</h4>
            <div >
                <% for (var i = 0; i < unfilledForms.length; i++) { %>
                    <a href="fillForm?formId=<%= unfilledForms[i].Id %>&formGroupNumber=<%= unfilledForms[i].GroupNumber %>"
                       class="btn btn-outline-secondary form-name-box"><span  class="fas fa-table"></span> <%= unfilledForms[i].Title %> </a>
                <% } %>
            </div>

            <hr>

            <h4><span class="fas fa-edit"></span> View/Edit Filled Forms</h4>
            <% for (var i = 0; i < filledForms.length; i++) {    //console.log(filledForms); %>
            <a href="viewForm?Title=<%= filledForms[i].Title %>&formID=<%= filledForms[i].Id %>"
               class="btn btn-outline-secondary form-name-box"><span class="fas fa-table"></span> <%= filledForms[i].Title %> </a>
            <% } %>

            <hr>

            <h4><span class="fas fa-user-edit"></span> Admin Privilege</h4>

                <a class="btn btn-outline-success admin-btn" href="/custom">Create Table</a>
                <a class="btn btn-outline-success admin-btn" href="/createNew">Create Attributes/Categories</a>


        </div>
    </div>


</div>

<%- include('./common/footer'); -%>