<%- include('../common/dashboardHeader', {title: 'Fill Workbook'}); -%>
<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/workbooks">Fill Workbooks</a>
        </li>
        <li class="breadcrumb-item active"><%=workbook%></li>
    </ol>

    <!--Transfer data from EJS to front-end-->
    <%- include('../excel-web/excel-web'); -%>

</div>

<!--Message Modal-->
<%- include('../common/messageModal'); -%>

<link href="/node_modules/handsontable/dist/handsontable.full.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

<link rel="stylesheet" href="/moh.css/custom2.css">

<%- include('../common/dashboardFooter', {js: [
'/node_modules/handsontable/dist/handsontable.full.min.js',
'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js',
'/js/formula-parser.js',
'/dist/excel-web.js',
'/node_modules/pako/dist/pako.min.js',
'/dist/fillWorkbook.js',
]}); -%>
