<%- include('../common/dashboardHeader', {title: 'Fill Workbook'}); -%>
<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/workbooks">Workbooks</a>
        </li>
        <li class="breadcrumb-item active">Fill Workbook</li>
    </ol>

    <!--Transfer data from EJS to front-end-->
    <input class="hide" id="filled-workbook" value="<%= workbook %>">

    <h2>
        <%= workbook %>
    </h2>
    <div class="container row align-items-center" id="save-row">
        <div class="col-auto p-1">
            <div class="input-group">
                <button id="import-workbook-btn" class="btn btn-primary">Import</button>
                <form id="upload-form" enctype="multipart/form-data">
                    <input name="excel" id="file-import" type="file" class="hide">
                </form>
            </div>
        </div>
        <div class="col-auto p-1">
            <button type="button" id="export-workbook-btn" class="btn-save btn btn-primary">Export</button>
        </div>
        <div class="col-auto p-1">
            <button type="button" id="save-workbook-btn" class="btn-save btn btn-primary">Save Workbook</button>
        </div>
        <div class="col-auto">
            <div id="status"></div>
        </div>
    </div>
    <br>

    <div id="loading">
        <br>
        <h4><i class="fas fa-spinner fa-spin"></i> <i id="loadingText"> Loading...</i></h4>
    </div>
    <div class="tab-content" id="nav-tabContent">

    </div>


    <a class="scroller scroller-left"><i class="fa fa-chevron-left"></i></a>
    <a class="scroller scroller-right"><i class="fa fa-chevron-right"></i></a>
    <div id="nav-wrapper">
        <div class="nav nav-tabs" id="nav-tab">
        </div>
    </div>



</div>

<!--Message Modal-->
<%- include('../common/messageModal'); -%>

<link href="/node_modules/handsontable/dist/handsontable.full.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

<link rel="stylesheet" href="/moh.css/custom2.css">

<%- include('../common/dashboardFooter', {js: [
'/node_modules/handsontable/dist/handsontable.full.min.js',
'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js',
'https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.0/xlsx.full.min.js',
'/js/formula-parser.js',
'/dist/excel-web.js',
'/node_modules/pako/dist/pako.min.js',
'/dist/fillWorkbook.js',
]}); -%>
