<%- include('../common/dashboardHeader', {title: 'Update Profile'}); -%>

<div class="container col-sm-8 col-md-6 col-lg-5 col-xl-4 vertical-gap">

    <div class="loginBox">
        <h1><span class="fa fa-sign-in"></span>Update Profile</h1>
    </div>
    <div id="alert-error" class="alert alert-danger alert-dismissible hide" role="alert">
        <h5 id="alert-error-text"></h5>
        <button type="button" class="close" aria-label="Close" onclick="hideErrorAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id="alert" class="alert alert-success alert-dismissible hide" role="alert">
        <h5 id="alert-text"></h5>
        <button type="button" class="close" aria-label="Close" onclick="hideAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="box">
        <form id="updateForm" action="/api/update-profile" method="post">
            <div class="form-group">
                <br/>
                <label class="signuplabel" for="userName">
                    Username:
                </label>
                <input type="text" class="form-control singupinput" id="username" name="username" value=<%= user.username %>>
            </div>
            <fieldset>
                <label class="signuplabel" for="firstName">First Name: </label>
                <input type="text" id="firstName" name="firstName" class="form-control singupinput" value=<%= user.firstName %>>
                <br/>
                <label class="signuplabel" for="lastName">Last Name: </label>
                <input type="text" id="lastName" name="lastName" class="form-control singupinput" value=<%= user.lastName %>>
                <br/>
            </fieldset>
            <div class="form-group">
                <label class="signuplabel" for="contactEmail">Email: </label>
                <input type="email" id="email" name="email" class="form-control singupinput" value= <%= user.email %>>
                <br/>
                <label class="signuplabel" for="contactPhone">Phone Number: </label>
                <input type="number" id="phoneNumber" name="phoneNumber" class="form-control singupinput" value= <%= user.phoneNumber %>>
            </div>




            <button type="submit" class="btn btn-primary">Save</button>
            <br/>
            <hr/>

        </form>

    </div>
    <!--Message Modal-->
    <%- include('../common/messageModal'); -%>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/dist/updateProfile.js"></script>

<%- include('../common/dashboardFooter'); -%>